files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/01fs-paas-tomcat-ulimitAS.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # https://almtools.ldschurch.org/fhjira/browse/DPT-3962
      # via https://github.com/fs-eng/paas-sps-beanstalk/blob/master/provisioner/src/main/resources/ebextensions/fs-paas-tomcat-ulimitAS.config
      # set up /etc/sysconfig/tomcat* to limit proc mem when .'d at tomcat init
      set -ex

      [ -r /tmp/beanstrap.env ] || exit 0   # EBS_STACK_NAME, EBS_APP_NAME
      . /tmp/beanstrap.env # EBS_STACK_NAME, EBS_APP_NAME

      [[ $EBS_STACK_NAME =~ Tomcat ]] || exit 0

      unset tcSyscfg
      [[ $EBS_STACK_NAME =~ Tomcat\ 7 ]] && tcSyscfg=/etc/sysconfig/tomcat7
      [[ $EBS_STACK_NAME =~ Tomcat\ 8 ]] && tcSyscfg=/etc/sysconfig/tomcat8
      [ "$tcSyscfg" ] || exit 0
      grep -q "^\s*ulimit\s\+-v\>" $tcSyscfg && exit 0

      # ASSUME : totalVM - currentUsed is close to what's avail for tomcat
      read vmemTot vmemSys \
        < <( free -t | grep  ^Total: | awk '{ print $2" "$3 }' )
      maxTomcatMemPct=95
      maxTomcatMemKB=$(( $(( vmemTot - vmemSys )) * maxTomcatMemPct / 100 ))

      # FWIW : tomcat8 init sources /etc/elasticbeanstalk/set-ulimit.sh
      echo -e "\nulimit -v $maxTomcatMemKB" >> $tcSyscfg # DPT-3962
